version: "3"
services:

 mysql:
  image: mysql:8
  environment:
   MYSQL_ROOT_PASSWORD: root
   MYSQL_DATABASE: userdb

 backend:
  build: ./backend
  ports:
   - "3000:3000"
  depends_on:
   - mysql

 frontend:
  build: ./frontend
  ports:
    - "80:80"
